{{!blog_page2.hbs}}


<div class="page">
    {{!-- <header class="header">
        <button class="button">
            <img width="24px" height="24px" src="/svg/header__back.svg">
        </button>
        <button class="button">
            <img width="24px" height="24px" src="/img/header__avatar.png">
        </button>
    </header>

    <h1 class="title">Коммьюніті</h1>

    <nav class="nav">
        <div class="nav__tab-inactive">
            База знань
        </div>
        <div class="nav__tab-active">
            Інформація
        </div>
    </nav>


    <main class="article">
        <div class="article_img">
            <img src="/img/community.png">
        </div>
        <div class="article__block">
            <div class="article__header">Що таке база знань?
            </div>
            <div class="atricle__body">
                База знаний — база данных, содержащая правила вывода и информацию о человеческом опыте и знаниях в
                некоторой предметной
                области. В самообучающихся системах база знаний также содержит информацию, являющуюся результатом
                решения предыдущих
                задач.
            </div>
        </div>
        <div>
            <button class="article__button">
                Перейти до ком'юніті у Телеграм
            </button>
        </div>
    </main> --}}
</div>